<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Редактирование элементов</title>
    <link rel="stylesheet" href="src/bootstrap.min.css">
    <link rel="stylesheet" href="src/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    <%=el %>
                </h1>
                <div class="col-sx-12">
                    <table class="table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Uuid(auto)</td>
                                <td>Наименование</td>
                                <td>Цена</td>
                                <td>Ссылка на фотку</td>
                                <td>Описание</td>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<list.length;i++) {%>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary btn-xs edit">Править</button>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-xs del">Удалить</button>
                                    </td>
                                    <%console.log(list[i])%>
                                        <% for(var j=0; j<list[i].length;j++) {%>
                                            <td>
                                                <div>
                                                    <%=list[i][j]%>
                                                </div>
                                            </td>
                                            <%} %>
                                </tr>
                                <%} %>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <input class="form-control" type="text" name="uiid" id="" disabled>
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="name" id="">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="price" id="">
                                        </td>
                                        <td>
                                            <input class="form-control" type="text" name="urlPic" id="">
                                        </td>
                                        <td>
                                            <textarea class="form-control" type="text" name="urlDesc" id="" rows="2"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="in">
                                        <td colspan="7">
                                            <button class="btn btn-success btn-lg add">Добавить/ Изменить</button>
                                            <button class="btn btn-warning btn-lg res">Сбросить</button>
                                        </td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src='src/jquery.min.js'></script>
        <script src="src/scripts.js"></script>
</body>

</html>